{% extends "base.html" %} {%block content%}

<section class="text-gray-600 body-font">
  <div class="container px-15 py-12 mx-auto">
    <div class="flex justify-between items-center w-full mb-10">
      <h1
        class="sm:text-4xl text-3xl font-medium title-font text-gray-900"
      >
        Categories
      </h1>
      <a href="{%url 'create-category' %}" class="hover:text-blue-400">Create Category + </a>
    </div>

    <div class="lg:w-2/3 w-full mx-auto overflow-auto">
      <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
          <tr>
            <th
              class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl"
            >
              Category
            </th>
            <th
              class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100"
            >
              Number of Counts
            </th>
            
          </tr>
        </thead>
        <tbody>
            
            <tr>
            <td class="px-4 py-3">Unassigned</td>
            <td class="px-4 py-3">{{unassigned_leads}}</td>
           </tr>
            {% if category_list%}
            {% for category in category_list%}

            <tr>
            <td class="px-4 py-3"><a href="{% url 'category-detail' category.id%}">{{category.name}}</a></td>
            <td class="px-4 py-3">To be counted</td>
           </tr>

            {% endfor %}
            {%endif%}
          
          {% comment %} <tr>
            <td class="border-t-2 border-gray-200 px-4 py-3">Pro</td>
            <td class="border-t-2 border-gray-200 px-4 py-3">25 Mb/s</td>
            <td class="border-t-2 border-gray-200 px-4 py-3">25 GB</td>
            <td
              class="border-t-2 border-gray-200 px-4 py-3 text-lg text-gray-900"
            >
              $24
            </td>
            <td class="border-t-2 border-gray-200 w-10 text-center">
              <input name="plan" type="radio" />
            </td>
          </tr>
          <tr>
            <td class="border-t-2 border-gray-200 px-4 py-3">Business</td>
            <td class="border-t-2 border-gray-200 px-4 py-3">36 Mb/s</td>
            <td class="border-t-2 border-gray-200 px-4 py-3">40 GB</td>
            <td
              class="border-t-2 border-gray-200 px-4 py-3 text-lg text-gray-900"
            >
              $50
            </td>
            <td class="border-t-2 border-gray-200 w-10 text-center">
              <input name="plan" type="radio" />
            </td>
          </tr>
          <tr>
            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">
              Exclusive
            </td>
            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">
              48 Mb/s
            </td>
            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">
              120 GB
            </td>
            <td
              class="border-t-2 border-b-2 border-gray-200 px-4 py-3 text-lg text-gray-900"
            >
              $72
            </td>
            <td class="border-t-2 border-b-2 border-gray-200 w-10 text-center">
              <input name="plan" type="radio" />
            </td>
          </tr> {% endcomment %}
        </tbody>
      </table>
    </div>
   
  </div>
</section>

{% endblock %}
