{% extends "base.html" %}
{%load static %}
 {% block content %} 

<section class="text-gray-600 body-font">
  <div
    class="container mx-auto flex px-5 py-22 items-center justify-center flex-col"
  >
    <img
      class="lg:w-2/6 md:w-3/6 w-5/6 mb-8 object-cover object-center rounded"
      alt="hero"
      src="{% static 'landing.svg' %}"
    />
    <div class="text-center lg:w-2/3 w-full">
      <h1
        class="title-font text-3xl mb-4 font-medium text-gray-900"
      >
        CRM built with django
      </h1>
      <p class="mb-8 leading-relaxed">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        
      </p>
      <div class="flex justify-center">
        {%if not request.user.is_authenticated%}
        <button
          class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
        >
          <a href="{%url 'login' %}">Login to get started 
        </button>
       {% endif %}
      </div>
    </div>
  </div>
</section>
GitHub {% endblock content %}
