{% extends "base.html"%} {% load tailwind_filters %} {% block content%}
<div class="max-w-lg mx-auto">
  <form method="POST" action=".">
    {% csrf_token %} {{form|crispy}}
    <button
      class="w-full text-white text-center bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
      type="submit"
    >
      Save Lead
    </button>
    <div class="mt-4">
      <a class="text-gray-600 hover:text-blue-600" href="{%url 'leads-list'%}"
        >Go back to leads
      </a>
    </div>
  </form>
</div>

<script src="" async defer></script>

{%endblock%}
